PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/dj_sound_lights_dev
JWT_ACCESS_SECRET=access_secret_super_secure_key_1234567890_dj_sound_lights_access
JWT_REFRESH_SECRET=refresh_secret_super_secure_key_0987654321_dj_sound_lights_refresh
